body {
  height: 70vh;
}

body {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #072703  0%, #000000 70%);
  background-size: 100%;
  font-size: 16px;
}

.clock {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 0 20px #77e80f, 0 0 20px rgba(10, 175, 230, 0);
}

#time, #date, .text {
  color: #daf6ff;
  font-family: courier, monospace;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

#date {
  margin-top: 32vh;
  font-size: 1em;
}

#time {
  font-size: 2em;
}

.text {
  font-size: 0.5em;
}

@media only screen and (min-width: 320px) {
  #date {
    font-size: 1.2em;
  }
  #time {
    font-size: 3em;
  }
  .text {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 768px) {
  #date {
    font-size: 2em;
  }
  #time {
    font-size: 6em;
  }
  .text {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1024px) {
  #date {
    font-size: 3em;
  }
  #time {
    font-size: 9em;
  }
  .text {
    font-size: 1.8em;
  }
}
